VITE_BACKEND_URL="http://localhost:3000"
VITE_WEBSOCKET_URL="ws://localhost:3000"
VITE_HLS_URL="http://localhost:1999"

WEBSOCKET_URL="ws://localhost:8000"
BACKEND_URL="http://localhost:8000"

RTMP_TARGET=rtmp://nginx:1935/live/
NODE_ENV=production

DATABASE_TYPE=mysql
DATABASE_HOST=db
DATABASE_PORT=3306
DATABASE_USER=paxton
DATABASE_PASS=oolong20020222
DATABSE_DEBUG=True
DATABASE_NAME=music

MYSQL_ROOT_PASSWORD=oolong20020222
MYSQL_USER=paxton
MYSQL_PASSWORD=oolong20020222

PMA_ARBITRARY=1
PMA_HOST=db
PMA_PORT=3306
PMA_USER=root
PMA_PASSWORD=oolong20020222

REDIS_HOST=redis
REDIS_PORT=6379

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=paxton
RABBITMQ_PASS=oolong20020222

WATCHFILES_FORCE_POLLING=false